In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
air_reserve = pd.read_csv("data/raw/air_reserve.csv")
air_reserve.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [3]:
hpg_reserve = pd.read_csv("data/raw/hpg_reserve.csv")
hpg_reserve.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

<h3> Preprocessing Visitors Reservation Data </h3>
Initially joining HPG reservation data with air-hpg-joined data to get air_store_id for each restaurant
<h4> Feature Engineering </h4>
<p> 1. Time Between reservation to visit </p>
<h4> Aggregations </h4>
<p> 1. Total number of guests reserved </p>
<p> 2. Average time gap between reserve and visit </p>

In [10]:
air_hpg_join = pd.read_csv('data/raw/store_id_relation.csv')
print air_hpg_join.shape
print air_hpg_join.head()
print len(np.unique(hpg_reserve.hpg_store_id))
hpg_reserve_merged = pd.merge(hpg_reserve, air_hpg_join, on="hpg_store_id", how="left")
print hpg_reserve_merged.shape
print hpg_reserve_merged.isnull().sum()
hpg_reserve_merged.head()

(150, 2)
           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7
13325
(2000320, 5)
hpg_store_id              0
visit_datetime            0
reserve_datetime          0
reserve_visitors          0
air_store_id        1972137
dtype: int64

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,air_store_id
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1,NaN
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3,NaN
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2,NaN
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5,NaN
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13,NaN

In [ ]:







def preprocess_reservation_data(reserve_df):
    reserve_df['reserve_datetime'] = pd.to_datetime(reserve_df['reserve_datetime'])
    reserve_df['visit_datetime'] = pd.to_datetime(reserve_df['visit_datetime'])
    reserve_df['visit_date'] = reserve_df['visit_datetime'].dt.date
    reserve_df['reserve_visit_gap'] = reserve_df['visit_datetime'] - reserve_df['reserve_datetime']

preprocess_reservation_data(air_reserve)
preprocess_reservation_data(hpg_reserve)
air_reserve.head()

In [ ]:
def aggregate_reservation_data(reserve_df):
    aggs = {'reserve_visitors': 'sum'}
    group_cols = ['air_store_id', 'visit_date']
    reserve_group_df = reserve_df.groupby(group_cols, as_index=False).agg(aggs)
    reserve_group_df = reserve_group_df.sort_values(['air_store_id', 'visit_date']).reset_index(drop=True)
    return reserve_group_df

air_reserve_group = aggregate_reservation_data(air_reserve)
air_reserve_group.head()

In [ ]:
air_info = pd.read_csv('data/raw/air_store_info.csv')
hpg_info = pd.read_csv('data/raw/hpg_store_info.csv')

In [ ]:
air_visit = pd.read_csv('data/raw/air_visit_data.csv')
air_visit = air_visit.sort_values(['air_store_id', 'visit_date'])
air_visit.head()

In [ ]:
air_visit['visit_date'] = pd.to_datetime(air_visit['visit_date'])

In [ ]:
dates_info = pd.read_csv('data/raw/date_info.csv')
dates_info.head()